@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  background-color: #172b4d;
  transition: 0.3s all;
}

.Dropdown-control {
  text-align: left;
  border-radius: 5px;
}

.react-date-picker__wrapper{
  border-radius: 5px;
}

.bmiform {
  background-color: #fff !important;
  border-radius: 5px !important;
  width: 80% !important;
  padding: 0px 15px !important;
}

.bmiform:focus {
  border-bottom: none !important;
  box-shadow: none !important;
}

label {
  display: block;
  color: #fff !important;
  font-size: 1rem !important;
}

.voice-button {
  position: absolute;
  top: 20px;
  right:20px;
  margin-bottom: 20px;
}

.voice-button-on {
  padding: 15px 50px;
  color: black;
  font-size: 16px;
  border-radius: 44px;
  cursor: pointer;
  border: 1px solid #3f51b5;
  margin-bottom: 40px;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  animation:slidebg 5s linear infinite;
}
@keyframes slidebg {
  to {
    background-position:20vw;
  }
}
.error {
  display: block;
  color: #ff0000 !important;
  font-size: 1rem !important;
}

.calculate-btn {
  background-color: #3f51b5;
  padding: 15px 50px;
  color: white;
  font-size: 16px;
  border-radius: 44px;
  cursor: pointer;
  border: 1px solid #3f51b5;
  margin-bottom: 40px;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.calculate-btn:hover {
  background-color: #fff;
  transform: translate(0px, -2px);
  color: #5364c3;
  box-shadow: 0px 15px 30px -12px rgba(255, 255, 255, 0.2);
}

.calculate-btn:focus {
  background-color: #32408f;
}

.calculate-btn:focus:hover {
  color: white;
}

.calculate-btn:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}

.calculate-btn:disabled:hover {
  box-shadow: none;
  transform: translate(0, 0);
}

.data-container {
  background-color: #1f3a67;
  border-radius: 11px;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.card {
  background-color: #274881 !important;
  color: white;
}

.card-title {
  font-weight: 500 !important;
  text-align: center;
}

.card-data {
  display: flex;
  justify-content: space-around;
}

.delete-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 50%;
  font-weight: 700;
  padding: 5px 9px;
  cursor: pointer;
  position: absolute;
  top: -12px;
  right: -12px;
}

.delete-btn:focus {
  background-color: #e74c3c;
}

.lightBlue {
  background-color: #3983d6;
}

.darkSkyBlue {
  background-color:#62a8f8;
}

.aquamarine {
  background-color: #68EDC6;
}

.electricBlue {
  background-color: #90F3FF;
}

.date-align {
  text-align: left;
}
.speech-out {
  visibility: hidden;
}